* {
  font-size: 100%;
}

span {
  width: 4rem;
  display: inline-block;
  text-align: center;
}

button {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 10px;
  background-color: olivedrab;
  color: white;
}

section {
  width: 100%;
  text-align: center;
}
